---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - apps
  resources:
  - deployments
  - statefulsets
  verbs:
  - get
  - list
  - patch
  - watch
- apiGroups:
  - optimizer.k20s.opscale.ir
  resources:
  - resourceoptimizerprofiles
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - optimizer.k20s.opscale.ir
  resources:
  - resourceoptimizerprofiles/finalizers
  verbs:
  - update
- apiGroups:
  - optimizer.k20s.opscale.ir
  resources:
  - resourceoptimizerprofiles/status
  verbs:
  - get
  - patch
  - update
