apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "k20s.fullname" . }}-manager-role
  labels:
    {{- include "k20s.labels" . | nindent 4 }}
rules:
- apiGroups:
  - apps
  resources:
  - deployments
  - statefulsets
  verbs:
  - get
  - list
  - patch
  - watch
- apiGroups:
  - optimizer.example.com
  resources:
  - resourceoptimizerprofiles
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - optimizer.example.com
  resources:
  - resourceoptimizerprofiles/finalizers
  verbs:
  - update
- apiGroups:
  - optimizer.example.com
  resources:
  - resourceoptimizerprofiles/status
  verbs:
  - get
  - patch
  - update
